.wrapper{
  width: 200mm;
  padding: 5mm 5mm;
  height: 287mm;
  margin: 10mm auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #C0C0C0;
}

.wrapper .actions {
    margin-bottom: 10px;
}
.wrapper .container {width: auto;}


.left-bar {
    width: 33%;
    float: left;
    border-right: 1px dotted black;
}

.right-bar {
    width: 66%;
    float: left;
}

/* O/E: modal */
.modal.existing #oe-name, .modal.existing #oe-unit, .modal.existing #oe-short-name {
    display: none;
}

/*========================================================*/
/** Printing
*   class printing will be added to body at the time of printing. use this class to decorate report
*/

.printing .wrapper {
    box-shadow: none;
    border: none;
    width: 210mm;
    padding: 0;
    height: 297mm;
    margin: 0 auto;
}

.printing .btn {
    display: none;
}

.printing .no-print{
    display: none;
}

.printing .no-print-keep-space {
    visibility: hidden;
}

.printing input{
    border: none;
    box-shadow: none;
}
