.wrapper{
  width: 200mm;
  padding: 5mm 5mm;
  height: 287mm;
  margin: 10mm auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #C0C0C0;
}

.left-bar {
    width: 33%;
    float: left;
    border-right: 1px dotted black;
}

.left-right {
    width: 66%;
    float: left;
}