.wrapper{
  width: 200mm;
  padding: 5mm 5mm;
  height: 287mm;
  margin: 10mm auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #C0C0C0;
}

.wrapper .actions {
    margin-bottom: 10px;
}
.wrapper .container {
	width: auto;
    clear: both;
}

header input {
    display: inline-block;
    margin-right: 25px;
}

header #sex {
    margin-right: 25px;
}

.left-bar {
    width: 30%;
    float: left;
    padding-right: 1.5%;
    border-right: 1px solid silver;
}

.right-bar {
    width: 66%;
    float: left;
	padding-left: 2%;
}

.right-bar ul {
	margin: 0;
	padding: 0;
}

.right-bar ul#advice {
    padding: 10px;
}

.right-bar ul li {
	list-style: none;
}

.right-bar ul li span {
    display: inline-block;
    padding: 10px;
}

#advice-block {
    padding-top: 25px;
}

#advice-selection-list li {
    list-style: none;
    padding: 3px 0;
}

#advice-selection-list li input[type="checkbox"] {
    margin: 0 5px 0 0;
    vertical-align: text-top;
}

/* O/E: modal */
.modal.existing #oe-name,
.modal.existing #oe-unit,
.modal.existing #oe-short-name {
    display: none;
}

/*========================================================*/
/** Printing
*   class printing will be added to body at the time of printing. use this class to decorate report
*/

.printing .wrapper {
    box-shadow: none;
    border: none;
    width: 210mm;
    padding: 0;
    height: 297mm;
    margin: 0 auto;
}

.printing .btn {
    display: none;
}

.printing .no-print{
    display: none;
}

.printing .no-print-keep-space {
    visibility: hidden;
}

.printing input{
    border: none;
    box-shadow: none;
}
